/* body { */
    /* background-color: blueviolet; */
    /* background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,43,226,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,43,226,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(138,43,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#8a2be2",GradientType=1); */
    /* background: rgb(216,14,112);
    background: -moz-linear-gradient(90deg, rgba(216,14,112,1) 0%, rgba(255,92,171,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(216,14,112,1) 0%, rgba(255,92,171,1) 100%);
    background: linear-gradient(90deg, rgba(216,14,112,1) 0%, rgba(255,92,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d80e70",endColorstr="#ff5cab",GradientType=1); */
    /* background: #D80E70; */
/* } */
/* .container {
    padding-top: 5vh;
    padding-bottom: 5vh;
} */
.login-box {
    /* background: rgba(255,255,255,1 ); */
    border-radius: 5px;
}