:root {
    --orange: #ff7024;
}

.table-orange,
.table-orange > th,
.table-orange > td {
    background-color: #ffd7c2;
}

.table-orange th,
.table-orange td,
.table-orange thead th,
.table-orange tbody + tbody {
    border-color: #ffb58d;
}

.table-hover .table-orange:hover {
    background-color: #ffc6a9;
}

.table-hover .table-orange:hover > td,
.table-hover .table-orange:hover > th {
    background-color: #ffc6a9;
}

.btn-orange {
    color: #fff;
    background-color: #ff7024;
    border-color: #ff7024;
}

.btn-orange:hover {
    color: #fff;
    background-color: #fd5800;
    border-color: #f05300;
}

.btn-orange:focus, .btn-orange.focus {
    color: #fff;
    background-color: #fd5800;
    border-color: #f05300;
    box-shadow: 0 0 0 0.2rem rgba(255, 133, 69, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
    color: #fff;
    background-color: #ff7024;
    border-color: #ff7024;
}

.btn-orange:not(:disabled):not(.disabled):active, .btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #f05300;
    border-color: #e34f00;
}

.btn-orange:not(:disabled):not(.disabled):active:focus, .btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 133, 69, 0.5);
}

.btn-outline-orange {
    color: #ff7024;
    border-color: #ff7024;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #ff7024;
    border-color: #ff7024;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 112, 36, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
    color: #ff7024;
    background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
    color: #fff;
    background-color: #ff7024;
    border-color: #ff7024;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 112, 36, 0.5);
}

.badge-orange {
    color: #fff;
    background-color: #ff7024;
}

a.badge-orange:hover, a.badge-orange:focus {
    color: #fff;
    background-color: #f05300;
}

a.badge-orange:focus, a.badge-orange.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 112, 36, 0.5);
}

.list-group-item-orange {
    color: #853a13;
    background-color: #ffd7c2;
}

.list-group-item-orange.list-group-item-action:hover, .list-group-item-orange.list-group-item-action:focus {
    color: #853a13;
    background-color: #ffc6a9;
}

.list-group-item-orange.list-group-item-action.active {
    color: #fff;
    background-color: #853a13;
    border-color: #853a13;
}

.bg-orange {
    background-color: #ff7024 !important;
}

a.bg-orange:hover, a.bg-orange:focus,
button.bg-orange:hover,
button.bg-orange:focus {
    background-color: #f05300 !important;
}

.border-orange {
    border-color: #ff7024 !important;
}

.text-orange {
    color: #ff7024 !important;
}

a.text-orange:hover, a.text-orange:focus {
    color: #d74a00 !important;
}
